################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CsharpConcepts/obj
/CsharpConcepts/bin/Debug/net6.0
/.vs
/CsharpConcepts/Program.cs
